In [3]:
import pandas as pd
data=pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [101]:
data['class']=data["class"].map(dict(zip(data["class"].unique(),range(0,4))))
data.head()

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [117]:
train=data.drop(49)
test=data.iloc[49,:]

In [118]:
train.shape,test.shape

((149, 5), (5,))

In [119]:
# I have used only brute force algorithm with metric as euclidean distance
from math import sqrt
distance=[]
for i in range(len(train)):
    x=data.iloc[i,:-1].values
    y=test.values[:-1]
    distance.append(sqrt(sum(pow(x-y,2))))

In [120]:
train["distance"]=distance
train.head()

   sepal_length  sepal_width  petal_length  petal_width  class  distance
0           5.1          3.5           1.4          0.2      0  0.223607
1           4.9          3.0           1.4          0.2      0  0.316228
2           4.7          3.2           1.3          0.2      0  0.331662
3           4.6          3.1           1.5          0.2      0  0.458258
4           5.0          3.6           1.4          0.2      0  0.300000

In [121]:
find=train.sort_values("distance")
find.head()

    sepal_length  sepal_width  petal_length  petal_width  class  distance
50           7.0          3.2           4.7          1.4      1  0.000000
7            5.0          3.4           1.5          0.2      0  0.141421
39           5.1          3.4           1.5          0.2      0  0.173205
35           5.0          3.2           1.2          0.2      0  0.223607
0            5.1          3.5           1.4          0.2      0  0.223607

In [123]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(train.drop("class",axis=1),train["class"])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [124]:
knn.predict([test])

array([0])